.find-out {
    background-color: transparent;
    border: 3px solid orange;
}

.bgimg-2 {
  background-image: url("/img/parallax.jpg");
  min-height: 400px;
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
/*  padding: 18px;*/
  font-size: 25px;
  letter-spacing: 10px;
}

.footer-bs {
    background-color: #3c3d41;
    font-family: "Roboto", sans-serif;
	padding: 0.2em;
	color: whitesmoke;
}

.quote-text {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    text-shadow: 2px 2px 8px #000000;
}

.quote-author {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    text-shadow: 2px 2px 8px #000000;
    padding-top:1em
}

.worked-with {
    text-align:center;
    padding-top:0em
}

.job-scope {
    text-align:left;
    color:#b2c6cd;
    font-weight:700
}

.company-desc {
    text-align:left;
    padding-top:2em;
    color:#93a4aa;
    line-height:1.8em;
    font-weight:300
}

.testimonial {
    border-top:solid 1px #d6e1e5;
    border-bottom:solid 1px #d6e1e5;
    width:50%;padding-top:2em;
    padding-bottom:2em
}

.testimonial-text {
    font-size:1.5em;
    font-weight:200
}

.employer-img {
    display:inline;
    border-radius:50%;
    height:5em
}

.employer-name {
    display:inline;
    padding-left:1em;
    color:#93a4aa
}

.project-img {
    height:15em;
    border-radius:0.5em
}

.project-desc {
    padding-top:2.5em;
    color:#93a4aa;
    line-height:1.7em;
    font-weight:200
}
